<header class="header">
    <nav class="navbar">
        <ul>
            <a href = "{% url 'airport:home' %}">Home</a>
            <a href = "{% url 'airport:list_deps' %}">List Departments</a>
            <a href = "{% url 'airport:list_emps' %}">List Employees</a>
            <a href = "{% url 'airport:list_planes' %}">List Planes</a>
            <a href = "{% url 'airport:list_flights' %}">List Flights</a>
            <a href = "{% url 'airport:list_crews' %}">List Crews</a>
            <a href= '{% url "airport:create_emp"  %}'>Create Employee</a>
            <a href= '{% url "airport:create_plane"  %}'>Create Plane</a>
            <a href= '{% url "airport:create_flight"  %}'>Create Flight</a>
            <a href= '{% url "airport:edit_emp" %}'>Edit Employee</a>
            <a href= '{% url "airport:edit_plane" %}'>Edit Plane</a>
            <a href = '{% url "airport:edit_crew" %}'>Edit Crew</a>
        </ul>
    </nav>
</header>
