<header class="header">
    <nav class="navbar">
        <ul>
            <a href = "{% url 'airport:home' %}">Home</a>
            <a href = "{% url 'airport:list_things' %}">List Employees</a>
            <a href= '{% url "airport:create_dep"  %}'>Create Department</a>
            <a href= '{% url "airport:create_emp"  %}'>Create Employee</a>
            <a href= '{% url "airport:create_plane"  %}'>Create Plane</a>
            <a href= '{% url "airport:create_flight"  %}'>Create Flight</a>
        </ul>
    </nav>
</header>
